html, body{
	height: 100%;
}
html{
	overflow-y: scroll;
}
*{
	outline: none;
}
body {
	font-family: tahoma, verdana, arial;
	font-size: 13px;
	color: #333333;
	background-color: #dddddd;
	margin: 0;
}
a {
	color: #333333;
}
a:hover {
	color:#006699;
}
#container {
	padding-top: 20px;
}
.toolbar{
	width:550px;
	text-align: right;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
}
.form_block{
	width:550px;
	background-color: #F0F0F0;
	margin: 0 auto 10px auto;

	
	-moz-box-shadow: 3px 3px 4px #666666;
	-webkit-box-shadow: 3px 3px 4px #666666;
	box-shadow: 3px 3px 4px #666666;


	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}
.form_block2{
	width:550px;
	margin: auto;
}
.form_block2 .form{
	border:none;
}
.form_block2 form{
	margin:0;
	padding:0;
}
.form_title{
	font-size: 14px;
	background-color: #006699;
	color: #FFFFFF;
	padding: 10px;
	font-weight: bold;
}
.form_title a{
	color:#FFFFFF;
	text-decoration:none;
}
.form_title a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}
.form{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 10px 20px 20px 20px;
}
.form .sepa{
	padding-bottom:10px;
	clear: both;
}
.form .error {
	margin-left: 125px;
	color: #FF3300;
	font-size: 12px;
}
.form label {
	display: block;
	width: 110px;
	float: left;
	padding-top: 3px;
	text-align: right;
	margin-right: 15px;
}
.form br{
	clear:both;
}
.form input[type="submit"], .form input[type="button"] {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9DB9CE;
	border-right-color: #6F8CAA;
	border-bottom-color: #6F8CAA;
	border-left-color: #9DB9CE;
	height: 22px;
	background-image: url(../images/btn_tile.gif);
	color: #09385B;
	background-color: #FFFFFF;
	cursor:pointer;
	padding-right: 8px;
	padding-left: 8px;
}
.form input[type="submit"]:hover, .form input[type="button"]:hover{
	color: #1067A7;
}
.form input[type="text"], .form input[type="password"] {
	width: 280px;
}
.form select{
	width: 130px;
}
.form textarea{
	width: 280px;
	height: 150px;
}
.form .file{
	width: 280px;
}
.form .textbox1{
	width: 125px !important;
}
#login_form, #login_success, #warning{
	width:350px;
}
#login_form .form label{
	width: 80px;
}
#login_form .form .error{
	margin-left: 95px;
}
#login_success .form_title{
	background-color: #81B01C;
}
#warning .form_title{
	background-color: #FF3300;
}
#login_form input[type="text"], #login_form input[type="password"] {
	width: 150px;
}
#loading {
	text-align: right;
	height: 26px;
	padding: 10px;
}
#side_panel {
	width:19%;
	float:left;
	height:100%;
	border-right:3px solid #999999;
	background-color:#CCCCCC;
	padding-top:20px;
}
#side_panel ul li{
	padding:3px;
}
.tabletitles {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	color: #000000;
	background-color: #D0DCE1;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #8CADBD;
	border-right-color: #8CADBD;
	border-bottom-color: #8CADBD;
}
.add{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
}
.add a#add{
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
	height: 23px;
	width: 79px;
	padding-top: 9px;
	padding-left: 35px;
	display: block;
	text-decoration: none;
}
.add a:hover#add{
	color:#FF6600;
}

.title_large {
	font-family: "Arial Narrow", "Simplified Arabic", "browallia New", tahoma;
	font-size: 24px;
	font-weight: bold;
	color: #999999;
	margin: auto;
	width: 550px;
	padding-bottom: 5px;
}
.title_large a{
	color:#999999;
	text-decoration:none;
}
.title_large a:hover{
	color:#333333;
}
.link1 {
	font-family: tahoma, verdana, arial;
	font-size: 13px;
	color: #0066CC;
}
.link1 a{
	color: #333333;
	text-decoration:none;
}
.link1 a:hover{
	color: #0066CC;
	text-decoration:underline;
}
